@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

$custom-theme-colors:(
    
   
    "light-blue":#799EFF,
    "black":#000000,
    "navy":#113F67,
    "light-color":#F5EEDC,
    
);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";


.carousel-item{
    height:500px;
    width: 100%;
    overflow: hidden;
    .d-block{
        max-width: 100%;
        height: 500px;
    }
}
.cards{


.card{
    width: max-content;
    .card-text{
       
        max-width:250px;
    }
}
}
.custom-card {
   
        max-width: max-content ;
    
&:hover{
    box-shadow:1px 1px 10px #113F67;
}
img{
    max-width: 100%;
    height: 200px;
}
}
.raiting {
 i{
    color:orange;
 }
}
a{
 text-decoration: none;
}
.movie.raiting{
  max-width: 200px;
}






